.wrap {
    display: flex;
    align-items: center;
    /* Center vertically */
    justify-content: flex-start;
    /* Left align horizontally */
    position: relative;
    /* Position the.activeRange span relative to this container */


    .activeRange {
        background-color: var(--color-text-300);
        position: absolute;
        height: 4px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    input {}
}