.wrap {
    position: relative;
    width: 100%;
    border: 1px solid var(--color-surface-200);
    border-radius: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 2em;
    background-image: radial-gradient(var(--color-surface-200) 1px, var(--color-surface-100) 1px);
    background-size: 14px 14px;
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    ul {
        li {
            width: 10em;
            background-color: var(--color-surface-200);
            padding: 1em;
            border-radius: 0.5em;
            position: relative;
            text-align: center;
            cursor: grab;
        }
    }
}