.wrap {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    border: 1px solid var(--color-surface-200);
    border-radius: 2em;
    margin-top: 2em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    align-items: center;


    .cardWrap {
        height: 100px;
        width: 100%;
        border-radius: 1em;
        background-color: var(--color-surface-300);
        padding: 1.5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.25em;
        cursor: pointer;
        overflow: hidden;
        margin-bottom: 4px;

        .mark {
            display: grid;
            place-content: center;
        }

        .content {
            flex: 1;
            color: var(--color-text-100);

            p {
                margin: 0 !important;
                line-height: 1 !important;

            }

            span {
                font-size: var(--fontSize-0);
                font-family: var(--font-roobert);
                color: var(--color-text-200);
                display: inline-block;
                margin-top: .35em;
            }
        }

        .expand {
            width: 48px;
            aspect-ratio: 1;
            display: grid;
            place-content: center;
            border-radius: 50%;
        }
    }

    .boxOpenContainer {
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
        display: grid;
        place-content: center;
        // background-color: red;

        .boxOpen {
            position: relative;
            background-color: var(--color-surface-300);
            padding: 1.5em;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .top {
                width: 100%;
                height: 50px;

                display: flex;
                justify-content: space-between;
                margin-bottom: 2em;


                .mark {
                    display: grid;
                    place-content: center;
                    position: relative;
                }

                .content {
                    flex: 1;
                    color: var(--color-text-100);

                    p {
                        margin: 0 !important;
                        line-height: 1 !important;

                    }

                    span {
                        font-size: var(--fontSize-0);
                        font-family: var(--font-roobert);
                        color: var(--color-text-200);
                        display: inline-block;
                        margin-top: .35em;
                    }
                }

                .expand {
                    width: 48px;
                    aspect-ratio: 1;
                    display: grid;
                    place-content: center;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }

            .actionWrap {
                display: flex;
                font-size: var(--fontSize--1);
                font-family: var(--font-roobert);
                gap: 1em;
                flex: 1;

                button {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 10px;
                    border-radius: 8px;
                    height: 40px;
                }

                .secondary {
                    background-color: var(--color-text-300);
                    color: var(--color-surface-200);
                }

            }

            .articleWrap {
                span {
                    font-size: var(--fontSize--2);
                    text-transform: uppercase;
                    color: var(--color-text-300);
                    font-family: var(--font-roobert);
                }

                ul {
                    all: unset;
                    li {
                        padding: 0;
                        color: var(--color-text-200);
                        font-size: var(--fontSize--1);
                        border-bottom: 1px dashed var(--color-text-300);
                        padding-bottom: .5em;
                        padding-top: .5em;
                    }
                }
            }
        }
    }
}