.wrap {
	position: relative;
	width: 100%;
	aspect-ratio: 1;
	border: 1px solid var(--color-surface-200);
	border-radius: 2em;
	margin-top: 2em;
	padding: 2em;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 2fr 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	.petalWrap {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr;
		grid-column-gap: 0px;
		grid-row-gap: 0px;
	}
    .gaugeWrap {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
	
}
