.wrap {
    position: relative;
    width: 100%;
    border: 1px solid var(--color-surface-200);
    border-radius: 2em;
    margin-top: 2em;
    padding: 2em;
    overflow: hidden;

    .ballWrap {
        width: 100%;
        margin-bottom: 3em;
    }

    .buttonsWrap {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        justify-content: center;

        button {
            background-color: var(--color-surface-200);
            font-size: var(--fontSize-0);
            border-style: solid;
            border-width: 1px;
            border-color: var(--color-surface-200);
        }
    }
}