.wrap {
    position: relative;
    width: 100%;
    border: 1px solid var(--color-surface-200);
    margin-top: 2em;
    margin-bottom: 2em;
    background-image: radial-gradient(#42433D 1px, #0E100F 1px);
    background-size: 20px 20px;
    overflow-y: auto;

    .legend {
        position: sticky;
        top: 40px;
        margin-left: 2em;
        display: flex;
        gap: 1em;

        .item {
            display: flex;
            gap: .5em;
            align-items: center;

            .itemIcon {
                width: 20px;
                height: 20px;
                background-image: linear-gradient(#2C2D29 2px, transparent 2px), linear-gradient(to right, #2C2D29 2px, #0E100F 2px);
                background-size: 10px 10px;
                border-right: 2px solid var(--color-surface-200);
                border-bottom: 2px solid var(--color-surface-200);
            }

            .itemIcon2 {
                width: 20px;
                height: 20px;
                background-image: linear-gradient(to right, #2C2D29, #2C2D29 8.5px, #0E100F 8.5px, #0E100F);
                background-size: 15px 100%;
                border: 1px solid var(--color-surface-200);
            }

            p {
                margin-bottom: 0;
                color: var(--color-text-300);
            }
        }
    }

    .box {
        width: 100px;
        aspect-ratio: 1;
        border: 1px solid var(--color-surface-200);
        background-image: linear-gradient(#2C2D29 2px, transparent 2px), linear-gradient(to right, #2C2D29 2px, #0E100F 2px);
        background-size: 34px 34px;
        position: absolute;
        top: 400px;
    }

    .ghost {
        width: 100px;
        aspect-ratio: 1;
        border: 1px solid var(--color-surface-200);
        background-image: linear-gradient(to right, #2C2D29, #2C2D29 8.5px, #0E100F 8.5px, #0E100F);
        background-size: 17px 100%;
        position: absolute;
        top: 400px;
    }
}

.wrap::-webkit-scrollbar {
    width: 0.5rem;
}

.wrap::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px var(--color-surface-100);
}

.wrap::-webkit-scrollbar-thumb {
    background-color: var(--color-surface-200);
    border-radius: 100rem;
}