.wrap {
    position: relative;
    width: 100%;
    aspect-ratio: 2;
    border: 1px solid var(--color-surface-200);
    border-radius: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 2em;
    background-image: radial-gradient(var(--color-surface-200) 1px, var(--color-surface-100) 1px);
    background-size: 14px 14px;
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .box {
        width: 8em;
        aspect-ratio: 2;
        background-color: var(--color-surface-200);
        border-radius: .5em;
        display: grid;
        place-content: center;
        cursor: grab;
    }

    .ghostBox {
        width: 8em;
        aspect-ratio: 2;
        position: absolute;
        border: 1px solid var(--color-accent-yellow);
        margin-top: 11em;
        display: grid;
        place-content: center;
        color: var(--color-accent-yellow);
    }
}