.wrap {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    border: 1px solid var(--color-surface-200);
    border-radius: 2em;
    margin-top: 2em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, transparent 20%, var(--color-surface-100) 20%, var(--color-surface-100) 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, var(--color-surface-100) 20%, var(--color-surface-100) 80%, transparent 80%, transparent) 12.5px 12.5px, linear-gradient(var(--color-surface-200) 2px, transparent 2px) 0 -1px, linear-gradient(90deg, var(--color-surface-200) 2px, var(--color-surface-100) 2px) -1px 0;
    background-size: 25px 25px, 25px 25px, 12.5px 12.5px, 12.5px 12.5px;

    .trailImageWrap {
        position: absolute;
        width: 12%;
        top: 0;
        left: 0;
    }
}