.wrapper {
    width: 100%;
    aspect-ratio: 1;
    background-color: var(--color-accent-purple);
    border-radius: 2em;
    overflow: hidden;
    display: grid;
    place-items: center;
    cursor: pointer;

    span {
        font-family: var(--font-inter);
        font-size: var(--fontSize-5);
    }

}