.wrap {
    position: relative;
    width: 100%;
    aspect-ratio: 2;
    border: 1px solid var(--color-surface-200);
    // border-radius: 2em;
    margin-top: 2em;
    // padding: 2em;
    background-image: radial-gradient(#42433D 1px, #0E100F 1px);
    background-size: 20px 20px;
    overflow-y: auto;

    .indicator {
        height: 10px;
        background-color: var(--color-accent-yellow);
        position: sticky;
        top: 0;
    }

    .indicator2 {
        height: 10px;
        background-color: var(--color-accent-purple);
        position: sticky;
        top: 10px;
    }

    .endMessage {
        display: flex;
        align-items: center;
        gap: .5em;
        margin-left: 2em;
    }


    .test {
        height: 100svh;
    }
}

.wrap::-webkit-scrollbar {
    width: 0.5rem;
}

.wrap::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px var(--color-surface-100);
}

.wrap::-webkit-scrollbar-thumb {
    background-color: var(--color-surface-200);
    border-radius: 100rem;
}