.wrap {
    position: relative;
    width: 100%;
    aspect-ratio: 1.5;
    border: 1px solid var(--color-surface-200);
    border-radius: 2em;
    margin-top: 2em;
    // padding: 2em;
    background-image: radial-gradient(var(--color-surface-200) 1px, var(--color-surface-100) 1px);
    background-size: 14px 14px;
    display: flex;
    gap: 2em;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .exampleWrapContainer {
        width: 100%;
        height: 120px;
        position: relative;
        z-index: 100;

        .exampleWrap {
            width: 100%;
            height: 120px;
            // border: 1px solid red;
            display: flex;
            justify-content: center;
            overflow: hidden;
            position: relative;

            .exampleViewbox {
                height: 100%;
                aspect-ratio: 1;
                // border: 2px solid green;
                display: flex;
                gap: 4%;
                align-content: flex-start;

                .item {
                    width: 100%;
                    height: 100%;
                    flex-shrink: 0;
                    background-color: var(--color-surface-200);
                    cursor: pointer;
                    display: grid;
                    place-items: center;
                }
            }


        }
    }

    .selectedBoxWrap {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 1;
        gap: .5em;

        .selectedBox {
            width: 20px;
            height: 20px;

            background-color: var(--color-accent-yellow);
        }
    }

}