.field {
	// flex: 1 1 0%;
	width: 100%;
	label {
		color: var(--color-text-200);
		font-size: var(--fontSize-0);
		font-weight: 500;
		text-transform: uppercase;
		display: block;
		font-family: var(--font-roobert);
	}
	input[type='range'] {
		-webkit-appearance: none;
		appearance: none;
		background: transparent;
		cursor: pointer;
		width: 100%;
	}
	input[type='range']:focus {
		outline: none;
	}
	input[type='range']::-webkit-slider-runnable-track {
		background-color: var(--color-surface-300);
		border-radius: 0.5rem;
		height: 4px;
		margin-top: 1.5em;
		margin-bottom: 1.5em;
	}
	input[type='range']::-webkit-slider-thumb {
		-webkit-appearance: none; /* Override default look */
		appearance: none;
		margin-top: calc((-1.125rem + 4px) / 2);
		/*custom styles*/
		background-color: var(--color-text-300);
		width: 1.125rem;
		aspect-ratio: 1;
		border-radius: 100%;
	}
	input[type='range']:focus::-webkit-slider-thumb {
		border: 3px solid var(--color-surface-100);
		outline: 3px solid var(--color-text-300);
		outline-offset: 1px;
	}
	select {
		width: 100%;
		border: 2px solid var(--color-surface-200);
		border-radius: 0.5em;
		padding: 0.5em 0.75em;
		font-size: var(--fontSize-p);
        font-family: var(--font-roobert);
		cursor: pointer;
        color: var(--color-text-200);
		margin-top: 0.5em;
		background-color: var(--color-surface-100);
	}
}
