.header {
	background-color: var(--nav-bg);
	backdrop-filter: blur(8px);
	display: flex;
	height: 7.5rem;
	margin: 0 calc(20px + max((100vw - 800px) / (1600 - 800) * 60, 0px));
	justify-content: space-between;
	align-items: center;
	flex-shrink: 0;
	position: sticky;
	top: 0;
	.logoWrap {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;
		font-size: var(--fontSize-h4);
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		color: var(--color-text-100);
		.logo {
			color: var(--color-text-100);
		}
	}
	.navLinkWrap {
		display: flex;
		align-items: center;
		gap: 2.5rem;
		color: var(--color-text-200);
		ul {
			display: flex;
			align-items: center;
			gap: 1.875rem;
			li {
				color: var(--color-text-200);
				font-size: var(--fontSize-p);
				font-style: normal;
				font-weight: 400;
			}
		}
	}
}

@media screen and (max-width: 780px) {
	.navLinkWrap {
		display: none !important;
	}
}
