.wrap {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    border: 1px solid var(--color-surface-200);
    border-radius: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    // background-size: 100% 100%;
    // background-image: repeating-linear-gradient(-45deg, #444cf7 0, #444cf7 1px, var(--color-surface-100) 0, var(--color-surface-100) 50%);

    .cardContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        .overlay {
            position: absolute;
            inset: 0;
            background-size: 1px 1px;
            background-repeat: repeat;
            background-image: var(--bg);
        }

        .backdrop {
            position: absolute;
            inset: 0;
        }

        .card {
            aspect-ratio: 1;
            cursor: pointer;
            position: absolute;
            transform: skew(0, 15deg);

            img {
                box-shadow: 0 50px 60px -40px rgb(6, 6, 6);
            }
        }

        .info {
            position: absolute;
            width: 70%;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;

            h3,
            p {
                margin: 0 !important;
            }

            h3 {
                padding-top: .5em;
            }

            .contentNum {
                font-family: var(--font-kansas);
                line-height: 1;
                font-size: 1em;
            }
        }



        .buttonWrap {
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: space-between;
            z-index: 20;
            margin: 0 3dvh;

            button {
                position: relative;
                width: 40px;
                height: 40px;
                cursor: pointer;
                border-radius: 50%;
                display: grid;
                place-content: center;
                background: rgba(0, 0, 0, 0.2)
            }
        }
    }


}