.wrap {
    position: relative;
    width: 100%;
    aspect-ratio: 2;
    border: 1px solid var(--color-surface-200);
    border-radius: 2em;
    margin-top: 2em;
    padding: 2em;
    background-image: radial-gradient(var(--color-surface-200) 1px, var(--color-surface-100) 1px);
    background-size: 14px 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .exampleWrap {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1em;
        padding: 1em;

        .item {
            width: 60px;
            height: 40px;
            background-color: var(--color-surface-200);
            cursor: pointer;
            border-radius: .5em;

            .indicator {
                position: relative;
                display: flex;
                justify-content: center;
                top: 110%;
            }
        }
    }

    .configWrap {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1.2fr 1fr;
        gap: 2em 0em;
        padding-left: 2em;
        padding-right: 2em;
        width: 100%;
    }
}