.wrapper {
    width: 100%;
    aspect-ratio: 1;
    background-color: var(--color-surface-200);
    border-radius: 2em;
    overflow: hidden;
    display: grid;
    place-items: center;
    cursor: pointer;

    .innerWrap {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        padding: 1em;

        .ball {
            height: clamp(12px, calc(1.5vw + 1px), 3vw);
            aspect-ratio: 1;
            background-color: var(--color-accent-green);
            border-radius: 100em;
        }
    }
}