.wrapper {
    padding-top: 1em;
    padding-bottom: 1em;

    pre {
        border-radius: 1.5em;
        background-color: var(--color-surface-200) !important;

        code {
            // all: unset;
            padding: 1rem;
            background-color: initial;
            font-family: var(--font-input);

            div {
                font-size: var(--fontSize--1);

                span {
                    tab-size: 2;
                }
            }
        }
    }
}

@media (min-width: 56rem) {
    .wrapper {
        border-radius: 8px !important;
    }
}