.wrap {
    position: relative;
    width: 100%;
    border: 1px solid var(--color-surface-200);
    border-radius: 2em;
    margin-top: 2em;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;

    .exampleWrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
        user-select: none;

        .item {
            width: 120px;
            aspect-ratio: 1;
            border-radius: 1.5em;
            background-color: var(--color-surface-200);
            display: grid;
            place-content: center;
            cursor: pointer;
        }

        p {
            color: var(--color-text-300);
            margin-bottom: 0;
            font-weight: 400;
        }
    }
}