.wrap {
	width: 100%;
	background-color: var(--color-surface-200);
	height: 400px;
	border-radius: 16px;
	div {
		background-color: var(--color-accent-red);
		display: flex;
		position: relative;
		justify-content: center;
		align-items: center;
		width: 15%;
		aspect-ratio: 1;
		border-radius: 8px;
		top: 50%;
		transform: translateY(-50%);
        left: 10%;
	}
}
