.wrap {
    position: relative;
    width: 100%;
    aspect-ratio: 2;
    border: 1px solid var(--color-surface-200);
    border-radius: 2em;
    margin-top: 2em;
    padding: 2em;
    background-image: linear-gradient(var(--color-surface-200) 1.3px, transparent 1.3px), linear-gradient(to right, var(--color-surface-200) 1.3px, var(--color-surface-100) 1.3px);
    background-size: 26px 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}